<footer class="bg-info fixed-bottom w-100" style="height: 50px;">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="mr-2">
            <a href="https://github.com/bonidisa/gameProject"><img src="../www/images/GitHub-Mark-Light-64px.png" alt="Lien vers le Github" width="32"></a>
        </div>
        <div class="text-light">
            <p class="m-0"> © Copyrights Océane Delamotte, Mathis Backet, Mathilde Goré, Isabeau Bonidan</p>
        </div>
    </div>
</footer>
</body>
</html>