<%- include('header');%>

<div class="container bg-light">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1 style="text-align: center; font-size: 10rem" ;>DICES</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2 style="text-align: center">Bienvenue sur notre jeu de dès</h2>
      <p class="text-info" style="text-align: center">Projet Github</p>
    </div>
  </div>
  <br />

  <div class="row justify-content-center">
    <div class="">
      <img src="../images/dice-draw.png" alt="dice drawings" width="100" />
    </div>
  </div>
  <br />

  <div class="row justify-content-center">
    <button type="button" class="btn btn-info w-25 shadow-sm">
      <a
        href="/createplayers"
        class="text-white font-weight-bold text-uppercase"
        >Jouer</a
      >
    </button>
  </div>
  <br />

  <div class="row justify-content-center">
    <button type="button" class="btn btn-light w-25 shadow-sm">
      <a href="/rules" class="text-info font-weight-bold text-uppercase"
        >Règles
      </a>
    </button>
  </div>
  <br />
</div>

<%- include('footer');%>
