<%- include ('header') %>
<h1>Règles du jeu</h1>
<p>Nombre de joueur :<span> 2 et +</span> <br>
Chaque joueur devra s'enregistrer. À tour de rôle chacun des participants lancera son dé. Le plus grand dé gagne.</p>
<%- include ('footer') %>
