<%- include('header');%>



<div class="container bg-light">

    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1 style="text-align: center;">DICES</h1>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-sm-6 offset-3" >
            <h2 style="text-align: center;">Bienvenue sur notre jeu de dès</h2>
            <p class="text-info" style="text-align: center;">projet github</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2 offset-5">
            <img src="../images/dice-draw.png" alt="dice drawings" width="100">
        </div>
    </div>
    <br>

    <div class="row">
        <button class="col-sm-2 offset-5 bg-info" href="">
                <p>Jouer</p>
        </button>
    </div>
    <br>

    <div class="row">
        <button class="col-sm-2 offset-5" href="">
                <p>Regles</p>
        </button>
    </div>
    <br>




</div>

<%- include('footer');%>