<%- include('header');%>

<h1>DICES</h1>


<div class="container">

    <div class="row">
        <div class="col-sm-6 offset-3">
            <h2>Bienvenue sur notre jeu de dès</h2>
        </div>
    </div>
    <br>

    <div class="row">
        <button class="col-sm-2 offset-5" href="">
                <p>Jouer</p>
        </button>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>Regles</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-10 ">
            <p>Faut lancer le dè et avoir de la chance lol. </p><br>Le plus grand tir gagne.</p>
        </div>
    </div>


</div>

<%- include('footer');%>