<%- include ('header') %>

<section
  class="d-flex flex-column justify-content-center align-self-center"
  style="height: 100vh"
>
  <h1 class="text-center mt-4">Le jeu de dé</h1>
  <div class="mx-auto w-75 mt-5">
    <p>
      Nombre de joueur :<span class="font-weight-bold"> 2 et +</span> <br />
      Âge des joueurs :<span class="font-weight-bold"> 6 et ∞</span>
    </p>
    <p>
      Dans un premier temps, tous les participants devront s'enregistrer. Une
      fois inscrits, vous devrez cliquer sur le bouton "lancer" pour lancer le
      dé : il en ressortira un chiffre entre 1 et 6. Quand tous les participants
      ont lancé leur dé, le plus grand dé gagné. Si toute fois il y a un
      égalité, les joueurs concernés devront relancer un dé.
    </p>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-info w-25 shadow-sm">
      <a
        href="/createplayers"
        class="text-white font-weight-bold text-uppercase"
        >Jouer</a
      >
    </button>
  </div>
</section>

<%- include ('footer') %>
