html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin {
  margin-left: -40px;
}

.fontNumber {
  font-size: 10rem;
}
